
    <div class="container mt-5">
        <h2 class="text-center mb-4">Especialidades</h2>
  
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Medico</th>
                    <th>Especialidad</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se agregarían las salas -->
                <tr *ngFor="let especialidad of especialidades">
                    <td>{{especialidad.idEspecialidad}}</td>
                    <td>{{especialidad.nombre}}</td>
                    <td><button class="btn btn-primary btn-sm" (click)="editar(especialidad.idEspecialidad)" >Editar</button></td>
                </tr>
            </tbody>
        </table>
  
       
   
        

  
