<div class="container mt-5">
  <h2 class="text-center mb-4 text-primary">Agregar Horario</h2>
  <div class="card shadow-sm">
    <div class="card-header bg-primary text-white">Formulario de Horario</div>
    <div class="card-body">
      <form [formGroup]="editarHorario" (ngSubmit)="enviarForm()">
        <div class="form-group mb-3">
          <label for="medico">Médico</label>
          <select class="form-control" id="medico" formControlName="idMedico" required>
            <option *ngFor="let medico of medicos" value={{medico.idMedico}}>{{medico.Medico}}</option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="sala">Sala de Consulta</label>
          <select class="form-control" id="sala" formControlName="idSala" required>
            <option *ngFor="let sala of salas" value={{sala.idSalaConsulta}}>Sala {{sala.idSalaConsulta}} - Nivel {{sala.nivel}}</option>
          </select>
        </div>
        <button type="submit" class="btn btn-success">Editar Horario</button>
        <button type="button" class="btn btn-success" (click)="eliminar(horarios.idHorario)">Eliminar Horario</button>
      </form>
    </div>
  </div>
</div>
