<div class="container">
  <h1 class="h2 text-left">
    <i class="text-center mb-4 text-primary"></i> Consultar Citas
  </h1>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th class="text-left">Paciente</th>
          <th class="text-left">Medico</th>
          <th class="text-left">Fecha</th>
          <th class="text-left">Estado</th>
          <th class="text-left" *ngIf="user.idRol=== 2">Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cita of citas">
          <td class="text-left"> {{ cita.Paciente}} </td>
          <td class="text-left"> {{ cita.Medico}} </td>
          <td class="text-left"> {{ cita.fechaCita}} </td>
          <td class="text-left"> {{ cita.estado}} </td>
          <td class="text-left" *ngIf="user.idRol === 2 || user.idRol === 3">
            <button class="btn btn-primary btn-sm"  *ngIf="user.idRol=== 2" (click)="editar(cita.idCita)" >
              <i class="fas fa-edit"></i> Editar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
