<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Citas</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Agregar</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <span data-feather="calendar"></span>
          This week
        </button>
      </div>
    </div>

    <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
-->
    <h2>Lista de médicos</h2>

 
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Paciente</th>
            <th>Medico</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cita of citas">
            <td> {{ cita.Paciente}} </td>
            <td> {{ cita.Medico}} </td>   
            <td> {{ cita.fechaCita}} </td>
            <td> {{ cita.estado}} </td>
            <td>
              <button class="btn btn-primary btn-sm" (click)="editar(cita.idCita)" >Editar</button>
          </tr>
          
        </tbody>
      </table>
    </div>
  </main>

