
  <div class="container mt-4">
      <h2 class="text-center mb-4">Consultas Anteriores</h2>
      <table class="table table-bordered">
          <thead class="thead-dark">
              <tr>
                  <th>Paciente</th>
                  <th>Médico</th>
                  <th>Fecha consulta</th>
                  <th>Número de cita</th>
                  <th>Especialidad</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let historial of historiales">
                  <td>{{historial.Paciente}}</td>
                  <td>{{historial.Medico}}</td>
                  <td>{{historial.fechaCita}}</td>
                  <td>{{historial.idCita}}</td>
                  <td>{{historial.Especialidad}}</td>
                  <td *ngIf="user.idRol === 2 || user.idRol === 3">
                      <button class="btn btn-warning btn-sm" (click)="editar(historial.idHistorial)">Modificar</button>
                  </td>
              </tr>
             
          </tbody>
      </table>
  </div>
