<div class="container1">
    <div class="forms-container">
        <div class="signin-signup">
            <!-- Formulario de Inicio de Sesión -->
            <form class="sign-in-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <!-- Logo dentro del formulario -->
                <div class="medical-center-logo">
                    <div class="logo-container">
                        <div class="logo-icon">
                            <i class="fas fa-heartbeat"></i>
                        </div>
                        <div class="logo-text">
                            <h1> <span class="highlight">CAP</span></h1>
                            <p class="tagline">Tu salud, nuestra prioridad</p>
                        </div>
                    </div>
                </div>

                <h2 class="title">Ingresa aquí</h2>

                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Nombre de Usuario" formControlName="username" />
                </div>

                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Contraseña" formControlName="password" />
                </div>

                <input type="submit" value="Ingresa" class="btn solid" />
            </form>

            <!-- Formulario de Registro -->
            <form class="sign-up-form" [formGroup]="nuevoForm" (ngSubmit)="postForm(nuevoForm)">
                <!-- Logo dentro del formulario de registro -->
                <div class="medical-center-logo">
                    <div class="logo-container">
                        <div class="logo-icon">
                            <i class="fas fa-heartbeat"></i>
                        </div>
                        <div class="logo-text">
                            <h1>Centro <span class="highlight">Médico</span></h1>
                            <p class="tagline">Tu salud, nuestra prioridad</p>
                        </div>
                    </div>
                </div>

                <h2 class="title">Inscríbete aquí</h2>

                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input id="nombres" type="text" placeholder="Ingresa tus Nombres" formControlName="nombres"
                        name="nombres" required />
                </div>
                <div *ngIf="isFieldInvalid('nombres')" class="alert alert-danger">
                    El campo de nombres es obligatorio.
                </div>

                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input id="apellidos" type="text" placeholder="Ingresa tus Apellidos" formControlName="apellidos"
                        name="apellidos" required />
                </div>
                <div *ngIf="isFieldInvalid('apellidos')" class="alert alert-danger">
                    El campo de apellidos es obligatorio.
                </div>

                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Ingresa un Nombre de Usuario" id="username"
                        formControlName="username" name="username" required />
                </div>
                <div *ngIf="isFieldInvalid('username')" class="alert alert-danger">
                    El campo de usuario es obligatorio.
                </div>
                <div *ngIf="usernameError" class="alert alert-danger">
                    {{ usernameError }}
                </div>

                <div class="input-field fecha">
                    <i class="fas fa-calendar"></i>
                    <input id="fechaNacimiento" type="date" placeholder="Ingresa tu Fecha de Nacimiento"
                        formControlName="fechaNacimiento" name="fechaNacimiento" required />
                </div>
                <div *ngIf="isFieldInvalid('fechaNacimiento')" class="alert alert-danger">
                    El campo de fecha de nacimiento es obligatorio.
                </div>

                <div class="input-field correo">
                    <i class="fas fa-envelope"></i>
                    <input type="email" placeholder="Ingresa tu Correo" id="email" formControlName="email" name="email"
                        required />
                </div>
                <div *ngIf="isFieldInvalid('email')" class="alert alert-danger">
                    El campo de correo es obligatorio.
                </div>

                <div class="input-field telefono">
                    <i class="fas fa-phone"></i>
                    <input type="tel" placeholder="Ingresa tu Teléfono" formControlName="numero" id="numero"
                        name="numero" required />
                </div>
                <div *ngIf="isFieldInvalid('numero')" class="alert alert-danger">
                    El campo de teléfono es obligatorio.
                </div>

                <div class="input-field dpi">
                    <i class="fas fa-id-card"></i>
                    <input type="text" placeholder="Ingresa tu DPI" id="dpi" formControlName="dpi" name="dpi"
                        required />
                </div>
                <div *ngIf="isFieldInvalid('dpi')" class="alert alert-danger">
                    El campo de DPI es obligatorio.
                </div>

                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Ingresa tu Contraseña" id="password" formControlName="password"
                        name="password" required />
                </div>
                <div *ngIf="isFieldInvalid('password')" class="alert alert-danger">
                    El campo de contraseña es obligatorio.
                </div>

                <input type="submit" class="btn" value="Inscríbete" />
            </form>
        </div>
    </div>

    <!-- Paneles de cambio entre formularios -->
    <div class="panels-container1">
        <div class="panel1 left-panel1">
            <div class="content1">
                <h3>¿Eres Nuevo?</h3>
                <p>Si deseas agendar una cita y llevar control de tu salud, regístrate</p>
                <button class="btn transparent" id="sign-up-btn">Inscríbete</button>
            </div>
        </div>
        <div class="panel1 right-panel1">
            <div class="content1">
                <h3>Inicio de Sesión</h3>
                <p>Si ya tienes una cuenta presiona aquí.</p>
                <button class="btn transparent" id="sign-in-btn">Ingresa aquí</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para mostrar errores -->
<div id="errorModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="modal-image">
            <img [src]="srcModal" alt="Advertencia" id="modalImage">
        </div>
        <h2 class="modal-title">{{tituloModal}}</h2>
        <p id="modalMessage"></p>
    </div>
</div>
