<!-- Tailwind CSS Link -->
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

<!-- Formulario de Agregar Cita -->
<div class="container mx-auto mt-10 p-5">
  <!-- Título personalizado -->
  <h2 class="text-center mb-6 custom-title">Agendar Cita</h2>

  <div class="bg-white shadow-lg rounded-lg p-6">
    <!-- Encabezado personalizado -->
    <div class="custom-header p-4 rounded-t-lg">Agregar Nueva Cita</div>

    <div class="p-4">
      <form [formGroup]="CrearCita" (ngSubmit)="enviarForm()">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4">
          
          <div class="form-group">
            <label for="idMedico" class="block text-sm font-medium text-gray-700">Médico</label>
            <select class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500" id="idMedico" formControlName="idMedico" (click)="horariosMedico($event)" required>
              <option *ngFor="let medico of medicos" [value]="medico.idMedico">{{medico.Medico}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="fechaCita" class="block text-sm font-medium text-gray-700">Fecha y Hora</label>
            <input type="date" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500" id="fechaCita" required formControlName="fechaCita">
          </div>

          <div class="form-group">
            <label for="idPaciente" class="block text-sm font-medium text-gray-700">Paciente</label>
            <select class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500" id="idPaciente" formControlName="idPaciente" required>
              <option *ngFor="let paciente of pacientes" [value]="paciente.idUsuario">{{paciente.Nombre}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="idHorario" class="block text-sm font-medium text-gray-700">Horario</label>
            <select class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500" id="idHorario" formControlName="idHorario" required>
              <option *ngFor="let horario of horarios" [value]="horario.idHorario">{{horario.Horario}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="estado" class="block text-sm font-medium text-gray-700">Estado</label>
            <select class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500" id="estado" formControlName="estado" placeholder="Estado de la Cita"  required>
              <option value="Agendado">Agendado</option>
              <option value="Cancelado">Cancelado</option>
            </select>
          </div>
        </div>
        <!-- Botón personalizado -->
        <button type="submit" class="custom-button w-full">Agregar Cita</button>
      </form>
    </div>
  </div>
</div>
