<main class="p-4 w-100">
    <h2>Gestión de Recursos</h2>

    <!-- Formulario para agregar nueva cita -->

    <div class="card">
      <div class="card-header bg-primary text-white">
        <h5>Agregar Nueva Cita</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="CrearCita" (ngSubmit)="enviarForm()">
          <div class="row">
            <div class="col-md-4">
              <label for="idMedico">Médico</label>
              <select class="form-control" id="idMedico" placeholder="Médico" formControlName="idMedico" (click)="horariosMedico($event)" required>
              <option *ngFor="let medico of medicos" value={{medico.idMedico}}>{{medico.Medico}}</option>
            </select>
            </div>

            <div class="col-md-4">
              <label for="fechaCita">Fecha y Hora</label>
              <input type="date" class="form-control" id="fechaCita" required formControlName="fechaCita">
            </div>
            <div class="col-md-4">
              <label for="idPaciente">Paciente</label>
              <select class="form-control" id="idPaciente" placeholder="Paciente" formControlName="idPaciente" required>
                <option *ngFor="let paciente of pacientes" value={{paciente.idUsuario}}>{{paciente.nombres}}</option>
              </select>
            </div>
            <div class="col-md-4"></div>
              <label for="idHorario">Horario</label>
              <select class="form-control" id="idHorario" placeholder="Horario" formControlName="idHorario" required>
                <option *ngFor="let horario of horarios" value={{horario.idHorario}}>{{horario.Horario}}</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="estado">Estado</label>
              <input type="text" class="form-control" id="estado" placeholder="Estado de la Cita" required formControlName="estado">
            </div>

          <button type="submit" class="btn btn-success mt-3">Agregar Cita</button>
        </form>
      </div>
    </div>
