
      <div class="row">
          <div class="col-md-12 mb-4">
              <div class="card">
                  <div class="card-header bg-info text-white">
                      Historial Médico del Paciente
                  </div>
                  <div class="card-body">
                      <table class="table table-bordered">
                          <thead class="thead-dark">
                              <tr>
                                  <th>ID Historial</th>
                                  <th>Paciente</th>
                                  <th>Médico</th>
                                  <th>Cita</th>
                                  <th>Especialidad</th>
                                  <th>Fecha cita</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>1</td>
                                  <td>1001</td>
                                  <td>2001</td>
                                  <td>1</td>
                                  <td>1001</td>
                                  <td>2001</td>
                              </tr>
                              
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>



