
    <!-- Formulario de Agregar Médico -->
    <div class="container mt-5">
        <h2 class="text-center mb-4 text-primary">Editar receta</h2>
        <div class="card shadow-sm">
          <div class="card-header bg-primary text-white">Formulario de Receta</div>
          <div class="card-body">
            <form [formGroup]="editarReceta" (ngSubmit)="enviarForm()">
              <div class="form-group mb-3">
                <label for="idCita">Cita - Paciente</label>
                <select class="form-control" id="idCita" formControlName="idCita" required>
                  <option *ngFor="let cita of citas" value={{cita.idCita}}>Cita: {{cita.idCita}} Paciente: {{cita.Paciente}}</option>
                </select>
              </div>
              <div class="form-group mb-3">
                <label for="usuario">Descripción</label>
                <input type="tel" class="form-control" id="descripcion"  formControlName="descripcion"  required>
              </div>
              <button type="submit" class="btn btn-success">Guardar Receta</button>
              <button type="button" class="btn btn-success" (click)="eliminar(receta.idReceta)">Eliminar receta</button>
            </form>
          </div>
        </div>
      </div>


      