body {
  background-color: #cffafe;
  font-family: Arial, sans-serif;
}

.bg-sidebar {
  background-color: #164e63; /* Color del sidebar */
}
.bg-sidebar .nav-link {
  color: black; /* Color del texto */
  transition: background-color 0.3s ease; /* Suaviza la transición */
}

.bg-sidebar .nav-link:hover {
  background-color:#0891b2; /* Color de fondo al pasar el mouse */
  color: black;
}

.content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.dashboard-container {
  padding: 20px; /* Espaciado para el contenedor principal */
}

footer {
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
}
