<!-- Formulario -->
<div class="container mt-5">
  <!-- Título personalizado -->
  <h2 class="text-center mb-4 custom-title">Agregar Horario</h2>

  <div class="card shadow-sm">
    <!-- Encabezado personalizado -->
    <div class="custom-header p-4 rounded-t-lg">Formulario de Horario</div>

    <div class="card-body">
      <form [formGroup]="CrearHorario" (ngSubmit)="enviarForm()">
        <div class="form-group mb-3">
          <label for="medico">Médico</label>
          <select class="form-control" id="medico" formControlName="idMedico" required>
            <option *ngFor="let medico of medicos" [value]="medico.idMedico">{{medico.Medico}}</option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="sala">Sala de Consulta</label>
          <select class="form-control" id="sala" formControlName="idSala" required>
            <option *ngFor="let sala of salas" [value]="sala.idSalaConsulta">Sala {{sala.idSalaConsulta}} - Nivel {{sala.nivel}}</option>
          </select>
        </div>
        <!-- Botón personalizado -->
        <button type="submit" class="custom-button">Guardar Horario</button>
      </form>
    </div>
  </div>
</div>

